body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}

h1{
    color: rgb(0, 64, 255);
}

p {
    color: purple;
    font-size: 18px;
}
